target/
# CocoIndex Code (ccc)
/.cocoindex_code/*
!/.cocoindex_code/settings.yml
/vivo-blueos/*
!/vivo-blueos/Dockerfile
!/vivo-blueos/docker-compose.yml
!/vivo-blueos/Makefile
!/vivo-blueos/.gitignore
!/vivo-blueos/snapshot.xml
